body {
  background-color: rgb(4, 32, 44);
}

#nav-bar-logo {
  max-width: 180px;
}

#hero-background {
  background: linear-gradient(
    to bottom, rgb(0, 0, 0), 
    rgb(0, 0, 0), 
    rgb(0, 0, 0), 
    rgba(5, 15, 22, 0.811),
    rgb(13, 39, 55, 0.400)
  );
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

#hero-background-image {
  width: 100%;
  opacity: 0.03;
}

#hero-text {
  max-width: min(800px, 100%)
}

.hero-text {
  color: #7ac8e7;
  opacity: 0.7;
}

.hero-text-small {
   font-size: 2rem;
  font-weight: 700;
}

.hero-text-big {
  font-size: 8rem; 
  margin-top: -1.5rem;
}

.btn-cta {
  transition: all 0.2s ease-in-out;
}

.btn-cta:hover {
  color: black !important;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.btn-cta-2 {
  transition: all 0.2s ease-in-out;
}

.btn-cta-2:hover {
  opacity: 0.5;
}

.btn-light {
  transition: all 0.2s ease-in-out;
}

.btn-light:hover {
  opacity: 0.5;
}

#client-numbers {
  max-width: 800px;
  margin: auto;
}

.client-card {
  padding: 0.3rem 2rem 1rem 2rem;
  background: linear-gradient(to left, rgba(13, 39, 55, 0.400) 0%, rgba(92, 150, 201, 0.400) 50%, rgb(13, 39, 55, 0.400) 100%);
  border-radius: 1.3rem;
}

.number-figure {
  max-width: 20rem;
}

.number-text {
  margin: 0;
  line-height: 2rem;
}

.card-big {
  transform: scale(1.5);
}

.number-plus {
  font-size: 2rem;
  font-weight: 400;
}

#founder-box {
  min-height: 25rem;
  background: radial-gradient(circle, rgb(2, 41, 77) 0%, #020d17) 100% ;
}

#nav-bar-container {
  background-color: #000000;
}

.service-card {
  max-width: 30rem;
}

.service-description {
  line-height: 1.3rem;
}

.service-card .hide {
  display: none;
}

.service-card:hover {
  background-color: azure;
}

.service-card:hover .text-white {
  color: black !important;
}

.service-card:hover .hide {
  display: unset;
}

.service-card:hover .show {
  display: none;
}

#founder {
  margin-top: 5rem;
}

#founder-photo {
  position: absolute;
  bottom: -3rem;
}

.service-img-wrapper {
  height: 3rem;
  width: 3rem;
}

.award-photo-1 {
  top: -3rem;
  left: -2rem;
}

.award-photo-2 {
  left: 3rem;
}

.award-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.award-photo img {
  max-height: 20rem;
}

.award-photo-wrapper {
  max-height: 20rem;
}

.reel-wrapper {
  min-width: min(100%, 30rem);
  height: 18rem;
}

#connect-container {
  background-color: rgba(0, 0, 0, 0.195)
}

#contact-us-btn {
  background-color: #3fb1da;
}

.client-type {
  position: relative;
}

.client-type-line {
  height: 0.2rem;
  width: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.249) 50%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  z-index: -2;
}

.client-type-text {
  display: inline-block;
  background: linear-gradient(to left, rgb(13, 39, 55, 1) 0%, rgb(92, 151, 201, 1) 50%, rgb(13, 39, 55, 1) 100%);
}

.client-photo {
  max-height: 80%;
  max-width: 80%;
}

#awards {
  max-width: 80rem;
}

#footer-top {
  background-color: #0000007b;
}

#footer-bottom {
  background-color: black;
}

.footer-logo > img {
  height: 45px;
}


.footer-bottom-text {
  display: inline-block;
}

img.socmed-logo {
  height: 40px;
}
/* media queries */
@media screen and (max-width: 992px) {
  #founder {
    margin-top: 3rem;
  }

  #founder-photo-wrapper {
    width: 100%;
  }

  #founder-box {
    max-width: 30rem;
    padding: 1rem 2rem 2rem 2rem !important;    
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #founder-photo {
    position: relative !important;
    bottom: unset;
  }

  #founder-details {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #client-numbers {
    flex-direction: column;
  }
}